@import "./mixins";

// Contenedor del feed
div.feedContainer {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    gap: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    transition: transform 300ms ease-in-out;

    @include tablet {
        margin: 0 5.5rem;
        box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.041);
    }

    // Swipe
    &.back {
        transform: translateX(-100vw);
    }
}